@keyframes test {
    from {
        widht:50%;
    }
    to {
        width:100%;
    }
}
@keyframes blue {
    from {
        background-color: darkblue;
    }
    50% {
        background-color: lightblue;
    }
    to{
       background-color: darkblue;
    }
}
.blue{
    animation-name: blue;
    animation-duration: 10s;
    widht: 100px;
    height: 100px;

}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf')
}
@font-face {
    font-family: 'fontello';
    src: url('./fonts/fontello.eot?65153166');
    src: url('./fonts/fontello.eot?65153166#iefix') format('embedded-opentype'),
    url('./fonts/fontello.woff?65153166') format('woff'),
    url('./fonts/fontello.ttf?65153166') format('truetype'),
    url('./fonts/fontello.svg?65153166#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Roboto-Medium';
}
i {
    font-family: 'fontello';
    font-size:50px;
    color: green;
}
.main {
    background:#E5E5E5;
    overflow: hidden;
    width: 1920px;
    height: 700px;
    top: -7px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.frame {
    /*margin-left: ;*/
}
.main-button {
    width: 225px;
    background: #34547A;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.main-column {
    float: left;
    width: 50%;
    padding-top: 100px;
}
.main-title {
    width: 541px;
    height: 45px;
    font-size: 48px;
    line-height: 79px;
}
.lorem {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 67px;
    width: 79%;
}
.about-me{
    text-align: center;
    width: 540px;
    height: 147px;
    left:690px;
    top: 812px;
    margin: 0 auto;
}
.about-me-title {
    text-aligh: center;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-top: 50px;
}
.about-me-discription {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
}
.numbers {
    width: 1920px;
    height: 250px;
    top: 1059px;

}
.item {
    width: 25%;
    height: 480px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-1{
    background-image: url("light.png");
}
.item-2{
    background-image: url("table.png");
}
