.main {
    background:#E5E5E5;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.frame {
    margin-left: ;
}
.main-column {
    float: left;
    width: 50%;
}
.main-title {
    width: 541px;
    height: 45px;
}
.about-me{
    text-align: center;
    width: 403px;
}
.about-me-discription{
    text-align: center;
    width: 540px;
    margin: 0 auto;
}
.item {
    width: 25%;
    height: 100px;
    float: left;
}
.item-1{
    background: red;
}
.item-2{
    background: black;
}
.item-3{
    background: blue;
}
.item-4{
    background: yellow;
}
.item-5{
    background: green;
}
.item-6{
    background: aqua;
}
.item-7{
    background: beige;
}
.item-8{
    background: violet;
}